<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('connection', {data: 'I\'m connected!'});
        });

        socket.on('solution', function(data) {
            var para = document.createElement("p");
            var node = document.createTextNode("The solution is: " + data);
            para.appendChild(node);
            var element = document.getElementById("div1");
            element.appendChild(para);
        })
    </script>
    <div class="center">
        <h1 class="cs655">CS655 GENI Mini Project</h1>
        <div class="title">
            <h2>Distributed MD5 Hash Cracker</h2>
            <p>By Tyler Reece </p>
        </div>
        
        <h3>Please enter the MD5 hash (a-z, A-Z) to be cracked below:</h3>

        <input type="text" id="hash" value="">

        <button onclick="processHash();">Submit</button>
        <div id="div1"></div>
    </div>
    <script>
        function processHash() {
            //console.log(numWorkers);
            var hash = document.getElementById("hash").value;
            //console.log(hash);

            // create processing hash... element
            var para = document.createElement("p");
            var node = document.createTextNode("Processing hash...");
            para.appendChild(node);
            var element = document.getElementById("div1");
            element.appendChild(para);
            console.log("HERE");

            // create websocket to send data
            socket.emit('submitted hash', {data: hash, numWorkers: 4});
        }
    </script>

</body>
</html>