html, body {
    height: 100%;
}

.center {
    border: 2px solid red;
    margin: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
    top: 20%;
    width: 50%;
}

.cs655 {
    padding: 10px 10px 30px 10px;
}

.title {
    padding: 10px 10px 30px 10px;
}

.div1 {
    font-weight: 20px;
}